section {
  .name-block {
    text-align: right;

    h1,
    h3 {
      font-family: $headings-font;
    }
    h1 {
      position: relative;
    }
    h1::before {
      content: "";
      width: 20px;
      height: 20px;
      right: 260px;
      top: -20px;
      border-left: 7px solid $headings-color;
      border-top: 7px solid $headings-color;
      position: absolute;
    }
    h1::after {
      content: "";
      width: 20px;
      height: 20px;
      right: -20px;
      bottom: -20px;
      border-right: 7px solid $headings-color;
      border-bottom: 7px solid $headings-color;
      position: absolute;
    }
    h3 {
      color: #39393a;
      margin-bottom: 0;
    }
    hr {
      width: 216px;
      height: 2px;
      background-color: #947f7d;
      text-align: right;
      margin-right: 0;
      border: none;
    }
  }

  .about-block {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf8f7;
    position: relative;
    max-height: 150px;
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 220px;
      height: 220px;
      position: absolute;
      left: 20px;
      bottom: -50px;
    }
    .about-me {
      max-width: 150px;

      .typing:first-child {
        font-family: $headings-font;
        color: $headings-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
      }
      .typing:nth-child(2) {
        margin-left: 40px;
        color: #ad9492;
        font-weight: bold;
        font-size: 60px;
        font-family: "Century Gothic";
      }
    }

    blockquote {
      width: 300px;
      position: relative;
      padding: 50px;
      margin-left: 30px;
      font-family: $about-font;
      color: $headings-color;
      font-size: 14px;
      text-align: justify;
    }
    blockquote::before {
      content: "“";
      color: #a09f9f;
      font-family: $headings-font;
      font-size: 90px;
      position: absolute;
      left: 0;
      top: 10px;
    }
    blockquote::after {
      content: "”";
      color: #d6d6d6;
      font-family: $headings-font;
      font-size: 50px;
      position: absolute;
      right: 25px;
      bottom: 0;
    }
  }
}
.typing {
  overflow: hidden;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-device-width: 480px) {
  main {
    section {
      width: 100%;
      .name-block {
        text-align: center;
        hr {
          margin: 0 auto;
        }
        h1::before {
          content: "";
          top: -10%;
          left: 10%;
        }
        h1::after {
          content: "";
          bottom: -10%;
          right: 10%;
        }
      }
      .about-block {
        display: flex;
        flex-direction: column;
        max-height: none;
        padding-top: 10px;
        margin-top: 20px;

        img {
          width: 150px;
          height: 150px;
          top: 20px;
          right: 0;
        }
        .about-me {
          margin-left: 50px;
          margin-top: 20px;
        }
        blockquote {
          margin-top: 40px;
        }
      }
    }
  }
}
