@import "vars.scss";

.wrap {
  display: flex;
  aside {
    flex: 3;
  }
  .container {
    flex: 7;
    .experience,
    .education {
      background-color: #f0efef;
      border-radius: 20px;
      margin: 40px 0 20px 10px;
      padding: 20px;
      h2 {
        color: $headings-color;
        font-family: $headings-font;
      }

      h3 {
        text-align: left;
      }
      .block {
        display: flex;
        flex-direction: row;
        .dates {
          flex: 3;
          text-align: left;
          padding: 10px;
        }
        .description {
          flex: 7;
          text-align: left;
          padding: 10px;
        }
      }
    }
  }
}
