.wrap {
  display: flex;
  padding-bottom: 10px;
  aside {
    flex: 3;
  }
  .container {
    flex: 7;
    .experience,
    .education,
    .other,
    .swiper-block {
      background-color: #ecf6f7;
      border-radius: 20px;
      margin: 40px 0 20px 10px;
      padding: 20px;
      h2,
      h3 {
        color: $headings-color;
        font-family: $headings-font;
      }

      h3 {
        text-align: left;
        color: #545658;
        font-size: 16px;
      }
      hr {
        height: 2px;
        width: 100%;
        background-color: #a09f9f;
        border: none;
        position: relative;
      }
      hr::after {
        content: "";
        width: 20px;
        height: 6px;
        background-color: $headings-color;
        position: absolute;
        top: -2px;
        right: 0;
      }

      .block {
        display: flex;
        flex-direction: row;
        .dates {
          flex: 3;
          text-align: left;
          color: #545658;
          padding: 10px;
          font-family: $headings-font;
          font-size: 12px;
          font-weight: bold;
        }
        .description {
          flex: 7;
          text-align: left;
          padding: 10px;
          p {
            color: $paragraph-color;
            font-family: $paragraph-font;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 480px) {
  .wrap {
    flex-direction: column;
    width: 100%;

    aside,
    .container {
      margin: 0 auto;
      .experience,
      .education,
      .other {
        width: 100%;
      }
    }
  }
}
