@import "vars.scss";

aside {
  padding: 20px;
  .heading-block {
    display: flex;
    flex-direction: row;
    .before {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      .box-color {
        width: 15px;
        height: 15px;
      }
      .box-color:first-child {
        background-color: $headings-color;
      }
      .box-color:nth-child(2) {
        background-color: #c16faa;
      }
      .box-color:nth-child(3) {
        background-color: #d6d6d6;
      }
    }
    h2 {
      color: $headings-color;
      font-family: $headings-font;
      text-align: left;
    }
  }
  .contact-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .logo {
      width: 30px;
      height: 30px;
      background-size: cover;
      margin: 0px 20px 0px 0;
    }
    .phone {
      background-image: url("images/phone.svg");
    }
    .email {
      background-image: url("images/mail.svg");
    }
    .linkedin {
      background-image: url("images/linkedin.svg");
    }
    .github {
      background-image: url("images/github.svg");
    }
    .location {
      background-image: url("images/pin.svg");
    }
    .info,
    a {
      font-weight: bold;
      text-decoration: none;
    }
    a:hover,
    .info:hover {
      color: #c16faa;
    }
  }
  .skills-block {
    display: flex;
    margin-bottom: 10px;
    .skill,
    .level-block {
      width: 50%;
      padding: 5px;
      display: flex;
      align-items: center;
      color: $headings-color;
      font-family: $headings-font;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
    .level {
      position: relative;
      width: 130px;
      height: 5px;
      background-color: #d6d6d6;
      border-radius: 20px;
      .skill-level {
        background-color: $headings-color;
        border-radius: 20px;
        width: 50%;
        height: 5px;
      }
      .skill-level:hover {
        background-color: #c16faa;
      }
      .twenty {
        width: 20%;
      }
      .ten {
        width: 10%;
      }
      .teamwork {
        width: 60%;
      }
      .full {
        width: 100%;
      }
      .eighty {
        width: 80%;
      }
    }
  }
  .additional-block {
    margin: 20px 0;
    padding: 20px;
    background-color: #f0efef;
    border-radius: 20px;
    text-align: justify;
    font-family: $paragraph-font;
    color: $paragraph-color;
    span {
      font-weight: bold;
      color: #545658;
    }
  }
}
@media screen and (max-device-width: 480px) {
  .heading-block,
  .contact-block,
  .logo,
  a,
  .info,
  .level-block,
  .skill {
    justify-content: center;
    max-width: 450px;
  }
}
