@font-face {
  font-family: "Century Gothic";
  src: url("fonts/Century-Gothic-400.ttf") format("truetype");
}
@font-face {
  font-family: "Bahnschrift";
  src: url("fonts/bahnschrift.woff");
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/myriad-pro-regular.woff");
}

$headings-color: #7a1c57;
$headings-font: "Century Gothic";
$about-font: "Bahnschrift";
$paragraph-font: "Myriad Pro";
$paragraph-color: #a09f9f;

main {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}
main::before {
  content: "";
  width: 10px;
  height: 20px;
  background-color: $headings-color;
  position: absolute;
}
.wrap::after {
  content: "";
  width: 10px;
  height: 20px;
  right: -20px;
  bottom: 0;
  background-color: $headings-color;
  position: absolute;
}

h1,
.info,
a {
  font-family: $headings-font;
  color: $headings-color;
}
@media screen and (max-width: 480px) {
  main {
    min-width: 310px;
    max-width: 470px;
  }
  .wrap {
    padding-right: 10px;
  }
  .wrap::after {
    content: "";
    right: 0px;
  }
}
